Rnp::Key#add_userid issues

## Description

Using default parameter values in `Rnp::Key#add_userid` would produce errors.

## Steps to Reproduce

Given:

```ruby
rnp = Rnp.new
keys = rnp.generate_key( {
  primary: {
    type: 'RSA',
    length: 4096,
    userid: 'hello test',
    usage: [:sign],
    expiration: (Time.now + 60000).to_i,
  },
})
k = keys[:primary]

```

The following would fail:

```ruby
k.add_userid('test', hash: 'SHA256')
# TypeError: no implicit conversion from nil to integer
# from /opt/ribose/bundle/gems/rnp-1.0.0/lib/rnp/utils.rb:20:in `rnp_key_add_uid'

k.add_userid('test', hash: 'SHA256', expiration_time: 0)
# TypeError: no implicit conversion of false into Integer
# from /opt/ribose/bundle/gems/rnp-1.0.0/lib/rnp/utils.rb:20:in `rnp_key_add_uid'

k.add_userid('test', hash: 'SHA256', expiration_time: 0, primary: false)
# TypeError: no implicit conversion of false into Integer
# from /opt/ribose/bundle/gems/rnp-1.0.0/lib/rnp/utils.rb:20:in `rnp_key_add_uid'

k.add_userid('test', hash: 'SHA256', expiration_time: 0, primary: true)
# TypeError: no implicit conversion of true into Integer
# from /opt/ribose/bundle/gems/rnp-1.0.0/lib/rnp/utils.rb:20:in `rnp_key_add_uid'
```

However, this would work:

```ruby
k.add_userid('test', hash: 'SHA256', expiration_time: 0, primary: 0)
# => nil
```

## Expected Behaviour

The following should not produce any errors:

```ruby
k.add_userid('test')
# => nil
```

```ruby
k.add_userid('test', hash: 'SHA256', expiration: 0)
# => nil
```

## My Guesses

It seems that there may be some kind of mismatch in the type signatures of 
[`Rnp::Key#add_userid`](https://github.com/riboseinc/ruby-rnp/blob/52d6113458cb095cf78110da4f899fb11aa46034/lib/rnp/key.rb#L94-L98) 
and [`rnp_result_t 
     rnp_key_add_uid(...)`](https://github.com/riboseinc/rnp/blob/2a59b7cd3c1dbefdbb2d9f55167ab9fa151c5812/include/rnp/rnp2.h#L278-L284) 
but I'm not too sure:

```ruby
    # Add a userid to a key.
    #
    # @param userid [String] the userid to add
    # @param hash (see Sign#hash=)
    # @param expiration_time (see Sign#expiration_time=)
    # @param key_flags [Integer]
    # @param primary [Boolean] if true then this userid will be marked as the
    #   primary userid
    # @return [void]
    def add_userid(userid, hash: nil, expiration_time: nil, key_flags: 0,
                   primary: false)
```

```c
/** Add a new user identifier to a key
 *
 *  @param ffi
 *  @param key the key to add - must be a secret key
 *  @param uid the UID to add
 *  @param hash name of the hash function to use for the uid binding
 *         signature (eg "SHA256")
 *  @param expiration time when this user id expires
 *  @param key_flags usage flags, see section 5.2.3.21 of RFC 4880
 *         or just provide zero to indicate no special handling.
 *  @param primary indicates if this is the primary UID
 */
rnp_result_t rnp_key_add_uid(rnp_key_handle_t key,
                             const char *     uid,
                             const char *     hash,
                             uint32_t         expiration,
                             uint8_t          key_flags,
                             bool             primary);
```


Thanks for the detailed report @ribose-jeffreylau!